#header,
#footer {
  width: 980px;
  margin: 0 auto;
}

#container {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  /*一举两得：隐藏背景，清除浮动*/
}

#left {
  float: right;
  width: 280px;
  background: #ccc;
}

#right {
  float: right;
  width: 650px;
  background: #900;
}

#left,
#right {
  padding: 0 5px;
  padding-bottom: 9999px;
  /*将背景拉伸到很长*/
  margin-bottom: -9999px;
  /*可以去掉padding-bottom,再试着调整这个值，来看看效果，一定要在padding-bottom之
后声明    */
}